<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
  <%- include('partials/header') %>

  <div class="feedback-section">  
    <div class="contact-form">

      <h2>Contact Us</h2>
      <form action="/feedback" method="POST">
        <div class="feedback-form">
          <input type="text" id="name" name="name" placeholder="Your Name" required>
          <input type="email" id="mail" name="email" placeholder="abc@gmail.com" required>
          <textarea id="message" name="message" placeholder="Your Message" required></textarea>
          <button  type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
   <div class="contdetails">
    <p>
      <a href="mailto:globego@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://www.instagram.com/globego" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="tel:+9134567890"><i class="fa-solid fa-phone-volume"></i></a>
    </p>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
