<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <div class="feedback-section">
    <div class="contact-form">

      <h2>Contact Us</h2>
      <form action="/feedback" method="POST">
        <div class="feedback-form">
          <input type="text" id="name" name="name" placeholder="Your Name" required>
          <input type="email" id="mail" name="email" placeholder="abc@gmail.com" required>
          <textarea id="message" name="message" placeholder="Your Message" required></textarea>
          <button  type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
