<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <%- include('partials/header') %>

<div class="hero">
  <h2>Explore the World</h2>
  <p>Discover breathtaking destinations with us.</p>
</div>
<div class="top_places">
  <img class="top" src="images/AUROVILLE.jpg">
  <img class="top" src="images/images (1).jpg">
  <img  class="top" src="images/images.jpg">
</div>
<%- include('partials/footer') %>


</body>
</html>